to_moduli/moduli_fvg/02_entita/ent_cittadinanza_v1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:ec="http://entita/cittadinanza"
    targetNamespace="http://entita/cittadinanza"
    elementFormDefault="qualified" attributeFormDefault="qualified"    
    version="1.0.0" xml:lang="it">
    
  
    <xs:simpleType name="estremi_documento_soggiorno_stype">
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ente_rilascio_documento_soggiorno_stype">
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="data_rilascio_documento_soggiorno_stype">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    
    <xs:simpleType name="scadenza_documento_soggiorno_stype">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    
    <xs:complexType name="cittadinanza_ctype">
        <xs:sequence>
            <xs:element name="stato_estero_cittadinanza" type="xx" minOccurs="1" maxOccurs="1"/>
            <xs:element name="estremi_documento_soggiorno" type="ec:estremi_documento_soggiorno_stype" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ente_rilascio_documento_soggiorno" type="ec:ente_rilascio_documento_soggiorno_stype" minOccurs="1" maxOccurs="1"/>
            <xs:element name="data_rilascio_documento_soggiorno" type="ec:data_rilascio_documento_soggiorno_stype" minOccurs="0" maxOccurs="1"/>            
            <xs:element name="scadenza_documento_soggiorno" type="ec:scadenza_documento_soggiorno_stype" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>        
    </xs:complexType>      
    
</xs:schema>
